:host {
  display: flex;
  flex-direction: row;
}

.search-bar {
  display: flex;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 0 0 5px;
}

.search {
  width: 100%;
  border: 3px solid #e0e0e0;
  border-right: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #000;
}

.search:focus {
  color: #000;
}

.buttonContainer {
  display: contents;
}

.searchButton {
  height: 36px;
  border: 1px solid #e0e0e0;
  background: #e0e0e0;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.searchClear {
  height: 36px;
  border: 1px solid #e0e0e0;
  background: #e0e0e0;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
}
