table {
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #e0e0e0;
}

th,
td {
  text-align: left;
  padding: 0.8rem;
  padding-right: 1.1em;
  padding-left: 1.1em;
}

tr {
  border: 1px solid;
}

#tableContainer {
  display: flex;
  flex-direction: column;
}
#buttonContainer {
  align-self: flex-end;
  margin-top: 10px;
}
button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  background-color: #e0e0e0;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
